<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MarkoEsc.FiscalizationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FiscalizationServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="FiscalizationServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://efitest.tax.gov.me:443/fs-v1" binding="basicHttpBinding" bindingConfiguration="FiscalizationServiceSoap" contract="CIS.FiscalizationServicePortType" name="FiscalizationServicePort"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <MarkoEsc.FiscalizationService.Properties.Settings>
            <setting name="IssuerTIN" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="BusinUnitCode" serializeAs="String">
                <value>xx123xx123</value>
            </setting>
            <setting name="SoftCode" serializeAs="String">
                <value>ss123ss123</value>
            </setting>
            <setting name="MaintainerCode" serializeAs="String">
                <value>mm123mm123</value>
            </setting>
            <setting name="OperatorCode" serializeAs="String">
                <value>oo123oo123</value>
            </setting>
            <setting name="TCRCode" serializeAs="String">
                <value />
            </setting>
            <setting name="FiscalizationService" serializeAs="String">
                <value>https://efitest.tax.gov.me/fs-v1</value>
            </setting>
            <setting name="TCRIntId" serializeAs="String">
                <value>123</value>
            </setting>
        </MarkoEsc.FiscalizationService.Properties.Settings>
    </userSettings>
</configuration>
